body {
    background-image: url("../images/friends-mod1.jpg");
    background-attachment: fixed; 
    background-size: 100% auto;

    text-align: center;
    font-family: Agency FB, sans-serif;
}

h1 {
    color: rgb(0, 0, 77);
    font-size: 2.5em;
    text-decoration: underline;
}

h2 {
    color: rgb(0, 0, 77);
    font-size: 2em;
    background-color: rgba(124, 124, 252, 0.75);
}

h3 {
    color: rgb(0, 0, 77);
    font-size: 1.6em;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.4em;
    float: none;
}

hr {
    color: rgb(31, 31, 253);
}

.main-div {
    border: 2px solid rgb(31, 31, 253);
    border-radius: 15px;
    background-color: rgba(124, 124, 252, 0.55);
    width: 85%;
    margin: auto;
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 4em;
    overflow: auto;
}

.button,
.button:focus {
    float: left;
    font-family: Agency FB, sans-serif;
    font-size: 1.4em;
    border: 1px solid rgb(0, 0, 77);
    background-color: rgb(124, 124, 252);
    color: rgb(0, 0, 77);
    border-radius: 3.5px;
    padding: 1em, 2em;
    width: auto;
    height: 1.75em;
    margin: 0.1em;
}

.button:hover,
.button:active {
    color: rgb(124, 124, 252);
    background-color: rgb(0, 0, 77);
    cursor: pointer;
}

.button-season,
.button-season:focus {
    background-color: rgb(71, 71, 252);
}

.button-season:hover,
.button-season:active {
    color:  rgb(71, 71, 252);
    background-color: rgb(0, 0, 77);
    cursor: pointer;
}

.buttons-div {
    width: 95%;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 4em;
}

.episode-title {
    text-align: center;
}

.buttons-cointainer {
    display: flex;
    flex-wrap: wrap;
}

.video-div {
    padding-top: 4em;
}

.video {
    padding-top: 3em;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    
    border: 2px solid rgb(31, 31, 253);
    border-radius: 15px;
    background-color: rgba(124, 124, 252, 0.55);
    max-width: 30%;
    margin: auto;
    margin-top: 4em;
    padding: 1em 1em 3em;
    overflow: auto;
}

.input-label {
    text-align: center;
}

.input-field {
    width: 80%;
    margin: 0 auto 1em;
    font-family: Agency FB, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.button-login,
.button-login:focus {
    float: left;
    font-family: Agency FB, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    width: 50%;
    border: 1px solid rgb(0, 0, 77);
    background-color: rgb(124, 124, 252);
    color: rgb(0, 0, 77);
    border-radius: 3.5px;
    margin: auto;
    padding: 1em, 2em;
    height: 1.75em;
}

.button-login:hover,
.button-login:active {
    color: rgb(124, 124, 252);
    background-color: rgb(0, 0, 77);
    cursor: pointer;
}

.login-button {
    font-weight: bold;
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .login-container {
        max-width: 50%;
    }
}

@media only screen and (max-width: 550px) {
    .login-container {
        max-width: 90%;
    }
}